<div class="head">
  <app-jumbotron></app-jumbotron>
</div>

<div class="container">
  <div class="task-grid">
    <app-task-grid></app-task-grid>
    <button routerLink="/details" type="button" class="btn btn-info add">New Task</button>
    <button class="btn btn-danger" (click)="onClearClick()"
      [disabled]="!taskSvc.TASKS || taskSvc.TASKS.length < 1">
      Clear All Tasks
    </button>
    <hr/>
    <h6><a routerLink="/home">
      <span><i class="fas fa-hand-point-left"></i></span>
      Back Home
    </a></h6>
  </div>
</div>
