
h1 {
    font-family: 'Roboto Mono', monospace;
}

.head {
    background:  url(../../assets/images/mailbox.jpg) no-repeat 140% 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 40vh;
}

.jumbotron {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding-top: 20px;
}


.info {
    margin-top: 25px;
    text-align: center;
}
