<app-navbar></app-navbar>
<div class="head">
  <div class="jumbotron">
    <div class="container">
        <h1>Welcome to {{ title }}
          <span><i class="fas fa-business-time"></i></span>
        </h1>
        <h2>The email service that fits your needs!</h2>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="!isStarted" class="info">
      <p><a class="btn btn-primary btn-block" 
        style="font-size: 25px"
        role="button" (click)="onStartBtnClick()">Get Started</a></p>
  </div>
</div>
