.details {
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.timeframe {
    padding: 2px;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

.field-danger {
    margin-top: 10px;
}

.myform-btns {
    margin-right: 5px;
}